@mixin box-shadow ($h_lenght, $v_lenght, $blur, $spread, $color){
  -webkit-box-shadow: $h_lenght $v_lenght $blur $spread $color;
  -moz-box-shadow: $h_lenght $v_lenght $blur $spread $color;
  box-shadow: $h_lenght $v_lenght $blur $spread $color;
}

@mixin opacity ($opacity) {
  -moz-opacity: $opacity;
  opacity: $opacity;
}

@mixin transition ($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -moz-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}