@import "elements";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Framework Typo
*******************************/
.story,.content-right {
  line-height:1.5;

  ul {
    list-style: square;
    li {
      list-style: square;
    }
  }
  ol {
    list-style: decimal;
    li {
      list-style: decimal;
    }
  }
  ul,
  ol {
    margin: 0 0 1em 1.5em;
    line-height: 1.5;

    ul,
    ol {
      margin-bottom: 0;
    }
  }

  ol {
    ol {
      list-style: upper-alpha;
      ol {
        list-style: lower-roman;
        ol {
          list-style: lower-alpha;
        }
      }
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform:none;
    margin-bottom: .5em;
  }
  h1 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h2 {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h4 {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h6 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  a {
    &:link,
    &:visited,
    &:hover,
    &:active{
      text-decoration: none;
    }
  }
  table{
    width:auto;
    border-collapse:collapse;
    margin-bottom:18px;
    td, th {
      padding:6px 10px;
      text-align:center;
      border:1px solid #ccc;
    }
    th {
      font-weight:bold;
    }
  }

  pre,code {
    background: #ffffff;
    padding: 20px;
    color:#2f302f;
    display: block;
    border-left: 4px solid #c8c8c8;
    margin: 10px 15px 10px 0px;
  }
  address {
    display: inline-block;
    padding: 20px;
    background: #eaeaea;
    line-height: 20px;
    margin-bottom: 15px;
  }
  blockquote {
    border:1px solid #e1e1e1;
    border-left: 4px solid #c8c8c8;
    padding: 15px 35px;
    line-height: 27px;
    p {
      font-weight: bold !important;
      font-style: italic !important;
      font-size: 18px !important;
      font-family: serif !important;
      color: #777777 !important;
    }
  }

  .wp-caption {
    box-shadow: 1px 1px 2px #bebebe;
    width: auto;

    p.wp-caption-text {
      background: #ffffff;
      text-align: center;
      color:#a1a1a1!important;
      margin: 0!important;
    }
  }

  dl {
    background: #ffffff;
    padding: 20px;
    box-shadow: 1px 1px 2px #d0d0d0;
    color:#4a4a4a;
    display: block;
    margin: 10px 20px 10px 0px;

    dt {
      width: 150px;
      float: left;
      font-size: 13px;
      line-height: 13px;
      color:#000000;
      text-transform: uppercase;
    }
    dd {
      margin-left: 160px;
      margin-bottom: 10px;
      line-height: 18px;
    }
  }

  img.size-auto,
  img.size-full,
  img.size-large,
  img.size-medium,
  .attachment img {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
  }
  .alignleft,
  img.alignleft {
    display: inline;
    float: left;
    margin-right: 1em;
  }
  .alignright,
  img.alignright {
    display: inline;
    float: right;
    margin-left: 1em;
  }
  .aligncenter,
  img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img.alignleft,
  img.alignright,
  img.aligncenter {
    margin-bottom: 1em;
  }
  .wp-caption {
    line-height:1.5;
    margin-bottom: 1em;
    text-align: center;
  }
  .wp-caption img {

  }
  .wp-caption p.wp-caption-text {
    color: #888;
    font-size: 11px;
    margin:0;
    padding:5px;
  }
  .wp-smiley {
    margin: 0;
  }
}
