$color_grey: #777;
$color_dark: #000;
$background_color: #fafafa;
$dark_grey: #2f302f;
$color_category_green: #28a200;

/*********
**HEADER**
*********/

.top_header {
    height: 90px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @include transition(all 300ms ease-in-out);
    @include box-shadow( 0px, 3px, 5px, -4px, $color_grey);
}

.header_third {
    float: left;
    position: relative;
    z-index: 99;
    .logo_section{
        line-height: 90px;
        img {
            max-width: 222px;
            vertical-align: middle;
        }
        @include transition(all 300ms ease-in-out);
        &:hover {
            @include opacity(0.6);
            @include transition(all 300ms ease-in-out);
        }
    }
    &.res_menu_section {
        display: none;
        overflow: hidden;
    }
    &.menu_section {
        float: right;
        text-align: right;
        font-size: 14px;
        color: $color_grey;
        line-height: 90px;
        height: 90px;
        .top_navigation{
            display: inline-block;
            .headermenu{
                li{
                    float: left;
                    height: 90px;
                    color: $color_grey;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-family: 'Roboto', sans-serif;

                    &.current-menu-item,&.current-page-item{
                        color: $color_dark;
                    }
                    &:first-child{
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            right: 80px;
                            top: 43px;
                            width: 20px;
                            height: 1px;
                            background-color: $color_dark;
                            margin-right: 5px;

                        }
                        a{
                            padding-left: 0;
                            padding-left: 40px;
                        }
                    }
                    a {
                        color: inherit;
                        padding: 0 25px 0 25px;
                        display: block;
                        height: 100%;
                        text-decoration: none;
                        @include transition(all 300ms ease-in-out);
                        &:hover {
                            color: $color_dark;
                            @include transition(all 300ms ease-in-out);
                        }
                    }
                }
            }
        }

        .search_box{
            float: right;
            margin-left: 25px;

            #searchform fieldset {
                position: relative;
                &::before{
                    position: absolute;
                    top: 36px;
                    left: 5px;
                    z-index: 20;
                    content: "\f002";
                    font: normal normal normal 14px/1 FontAwesome;
                    display: inline-block;
                    color: $color_grey;
                }
            }
            #searchsubmit {
                display: none;
            }

            input.searchinput {
                position: relative;
                padding-left: 22px;
                z-index: 30;
                float: none;
                border: none;
                font-size: 14px;
                height: 20px;
                cursor: pointer;
                background-color: rgba(255,255,255,0);
                width: 0;
                max-width: none;
                outline: 0;
                &:focus{
                    @include transition(all 300ms ease-in-out);
                    width: 100%;
                    max-width: 100px;
                    border: 1px solid #afafaf;
                    font-style: italic;
                    color: #bababa;
                }
            }
        }
    }
}

.toggle_menu {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 30px;
    line-height: 90px;
    display: none;
    i{
        color: $color_grey;
        cursor: pointer;
        @include transition(all 300ms ease-in-out);
        &:hover {
            color: $color_dark;
            @include transition(all 300ms ease-in-out);
        }
    }
}

/*********
**SLIDER**
*********/

.home_slider {
    margin-top: 90px;
    overflow-x: hidden;
}

/*********
**FOOTER**
*********/

footer.main_footer {
    background-color: #fff;
    position: relative;
    z-index: 99;
    @include box-shadow( 0px, -3px, 5px, -4px, $color_grey);
    .footer_logo{
        min-height: 145px;
        text-align: center;
        .footer_inner {
            padding-top: 65px;
            img {
                max-height: 50px;
                max-width: 222px;
            }
        }
    }
    .footer_social {
        text-align: center;
        font-size: 16px;
        border-bottom: 1px solid $color_grey;
        border-top: 1px solid $color_grey;
        border-color: #ebebeb;
        color: $color_grey;
        padding: 25px 0 25px 0;
        i, a {
            @include transition(all 300ms ease-in-out);
            color: inherit;
            margin-left: 60px;
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: $color_dark;
                @include transition(all 300ms ease-in-out);
            }
        }
    }

    .copyrights {
        padding: 40px 0;
        line-height: 26px;
        text-align: center;
        font-size: 13px;
        color: $color_grey;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
    }
}

/*********
**HEADER**
***IMAGE**
*********/

.inner_header {
    margin-top: 90px;
    .header_image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 350px;
        overflow: hidden;
    }
    .header_text {
        padding-top: 120px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        .main_title{
            letter-spacing: 5px;
            background-color: $color_dark;
            color: #fff;
            font-size: 48px;
            padding: 10px 35px;
            line-height: 78px;
        }
        .main_subtitle {
            display: inline-block;
            margin-top: 45px;
            font-size: 18px;
            letter-spacing: 5px;
        }
    }
}

/**********
**CONTACT**
****PAGE***
**********/

.container {
    padding: 80px 0 50px 0;
    background-color: $background_color;
    .fx{
        display: flex;
    }
    .contacts {
        display: inline-block;
        width: 35%;
        text-align: left;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        h2.page_title {
            font-size: 30px;
            letter-spacing: 10px;
            margin-bottom: 10px;
        }
        .page_content {
            color: $color_grey;
            font-size: 16px;
        }
        .line {
            max-width: 60px;
            background-color: $color_dark;
            height: 1px;
            margin: 15px 0 17px 0;
            border: 0;
        }

        .contacts_data {
            .third_part{
                padding: 17px 0 17px 0;
                color: $color_grey;
                .contacts_title {
                    font-weight: bold;
                    color: #000;
                }
                .contact_phone {
                    padding: 5px 0 5px 0;
                }
                a {
                    text-decoration: none;
                    font-weight: bold;
                    color: #555;
                    line-height: 10px;
                    @include transition(all 300ms ease-in-out);
                    &:hover {
                        color: $color_grey;
                        @include transition(all 300ms ease-in-out);
                    }
                }
            }
        }
    }

    .contacts_form {
        display: block;
        width: 65%;
        margin: 0 0 50px 15px;
        .wpcf7 {
            margin: 0;
            .item_line {
                text-align: left;
                .item_input {
                    width: 48%;
                }
            }
        }
    }

    .wpcf7 {
        display: block;
        margin: 0 65px;
        .item_line{
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            margin-bottom: 30px;
            .item_input {
                width: 31.3%;
                margin-right: 3%;
                float: left;
                box-sizing: border-box;
                &:last-child{
                    margin-right: 0;
                    float: right;
                }
            }
            input[type="text"], input[type="email"]{
                border: 1px solid #ebebeb;
                border-left: 3px solid #afafaf;
                font-style: italic;
                font-size: 14px;
                font-family: 'Roboto', sans-serif;
                height: 40px;
                color: #bababa;
                width: 100%;
                box-sizing: border-box;
                background-color: inherit;
                padding: 0 10px;
                outline: 0;
                @include transition(all 300ms ease-in-out);
                &:focus{
                    border: 1px solid #afafaf;
                    @include transition(all 300ms ease-in-out);
                }

                &::-webkit-input-placeholder {
                    color: #bababa;
                    font-size: 14px;
                    font-style: italic;
                }
                &::-ms-input-placeholder{
                    color: #bababa;
                    font-size: 14px;
                    font-style: italic;
                }
                &::-moz-placeholder {
                    color: #bababa;
                    font-size: 14px;
                    font-style: italic;
                }
                &:-moz-placeholder{
                    color: #bababa;
                    font-size: 14px;
                    font-style: italic;
                }
            }

            textarea {
                @extend input[type="text"];
                height: 150px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-left: 0;
                border-left: 1px solid #ebebeb;
            }

            input.wpcf7-submit {
                color: #fff;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                height: 38px;
                background-color: $color_dark;
                border: 1px solid $color_dark;
                padding: 0 60px;
                @include transition(all 300ms ease-in-out);
                &:hover {
                    color: $color_dark;
                    background-color: #fff;
                    @include transition(all 300ms ease-in-out);
                }
            }
        }
    }
}

.skills_section {
    padding: 65px 0 65px 0;
    background-color: $background_color;
    font-family: 'Roboto', sans-serif;
    h2.page_title{
        font-weight: 300;
        text-align: center;
        font-size: 30px;
        letter-spacing: 10px;
        margin-bottom: 45px;
        text-transform: uppercase;
    }

    .contact_values {
        color: $color_grey;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 65px;
    }

    p {
        color: $color_grey;
        font-size: 14px;
        line-height: 28px;
    }

    .contact_skills {
        .skills_item {
            width: 31.3%;
            float: left;
            margin-right: 3%;
            &:last-child {
                margin-right: 0;
            }
            img {
                max-width: 100%;
            }

            h3.item_title {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 5px;
                text-transform: uppercase;
                margin: 25px 0 40px 0 ;
            }
        }
    }
}

/**********
PORTFOLIO**
****PAGE***
**********/
.portfolio_page {
    .container{
        padding: 40px 0 50px 0;
        .gallery_page {
            text-align: center;
            .category_page {
                margin-bottom: 40px;
                .categorymenu {
                    width: 100%;
                    margin: 0 auto;
                    min-height: 58px;
                    border-top: 1px solid #e1e1e1;
                    border-bottom: 1px solid #e1e1e1;
                    line-height: 60px;
                    li {
                        display: inline-block;
                        color: $color_grey;
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 600;
                        font-family: 'Roboto', sans-serif;
                        position: relative;
                        &.active {
                            a {
                                color: $color_dark;
                            }
                        }
                        &.current-menu-item, &.current-page-item {
                            color: $color_dark;
                        }
                        &:last-child {
                            &::after {
                                display: none;
                            }
                        }
                        &::after {
                            content: '';
                            height: 25px;
                            width: 1px;
                            background-color: #e1e1e1;
                            float: left;
                            position: absolute;
                            left: 100%;
                            top: 25%;
                            transform: rotate(20deg);
                        }
                        a {
                            color: inherit;
                            padding: 0 20px 0 20px;
                            display: block;
                            height: 100%;
                            text-decoration: none;
                            @include transition(all 300ms ease-in-out);
                            &:hover {
                                color: $color_dark;
                                @include transition(all 300ms ease-in-out);
                            }
                        }
                    }
                }
            }

            .portfolio_posts_page {
                .grid{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    .grid-item {
                        float: left;
                        margin: 0 30px 30px 0;
                        width: 350px;
                        height: 350px;
                        &.grid-item--height2 { height: 250px; }
                        &.grid-item--height3 { height: 450px; }
                    }
                }
                .portfolio_post {
                    position: relative;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    overflow: hidden;
                    @include transition(all 300ms ease-in-out);
                    &:hover{
                        .mask {
                            @include opacity(1);
                            @include transition(all 300ms ease-in-out);
                        }
                    }

                    .mask {
                        @include transition(all 300ms ease-in-out);
                        @include opacity(0);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0,0,0,0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .plus {
                            display: block;
                            font-size: 40px;
                            line-height: 70px;
                            text-align: center;
                            color: #c7c7c7;
                        }
                    }
                }
            }
        }
    }
}
/***************
***PAGINATION***
*****STYLE******
***************/

.single_portfolio {
    .single_menu {
        height: 60px;
        font-family: 'Roboto', sans-serif;
        color: $color_dark;
        font-size: 13px;
        line-height: 60px;
        text-transform: uppercase;
        font-weight: bold;
        .all_posts_button{
            float: right;
            height: 60px;
            border-left: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;
            @include transition(all 300ms ease-in-out);
            a {
                height: 100%;
                display: block;
                text-decoration: none;
                color: inherit;
                padding: 0 40px 0 30px;
                i {
                    margin: 0 10px;
                }
            }
            &:hover {
                background-color: $color_grey;
                color: #fff;
                @include transition(all 300ms ease-in-out);
            }
        }
        .pagination {
            display: inline-block;
            border-left: 1px solid #ebebeb;
            border-right: 1px solid #ebebeb;
            .arrows {
                float: left;
                height: 60px;
                @include transition(all 300ms ease-in-out);
                &.left_arrow a {
                    padding: 0 40px 0 30px;
                }
                &.right_arrow a {
                    padding: 0 45px 0 55px;
                }
                a {
                    height: 100%;
                    display: block;
                    text-decoration: none;
                    color: inherit;
                    i {
                        margin: 0 10px;
                    }
                }
                &:hover {
                    background-color: $color_grey;
                    color: #fff;
                    @include transition(all 300ms ease-in-out);
                }
            }
            .right_arrow{
                border-left: 1px solid #ebebeb;
            }
        }
    }

    /***************
    *****SINGLE*****
    ****PORTFOLIO***
    ***************/

    .currentpost_info{
        float: left;
        width: 47%;
        font-family: 'Roboto', sans-serif;
        color: $color_grey;
        .post_title{
            font-size: 30px;
            letter-spacing: 5px;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: $color_dark;
        }
        .category_name {
            font-size: 16px;
            font-weight: bold;
            color: $color_grey;
            padding-bottom: 30px;
            border-bottom: 1px solid #ccc;
        }
        .post_info {
            margin: 30px 0 50px 0;
            font-size: 14px;
            font-weight: bold;
            .post_date, .post_like {
                display: inline-block;
            }
            .post_like {
                cursor: pointer;
                margin-left: 65px;
                &::before{
                    content: '\f08a';
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 5px;
                }
                &:hover {
                    &::before{
                        content: '\f004';
                    }
                }
            }
        }
        .post_content{
            font-size: 14px;
            line-height: 28px;
            padding-bottom: 59px;
            border-bottom: 1px solid #ccc;
        }
        .post_role{
            font-size: 16px;
        }

        .post_subtitle{
            font-weight: bold;
            text-transform: uppercase;
            color: $color_dark;
            margin: 45px 0 25px 0;
        }

        .post_share {
            margin-top: 50px;
            .share_text {
                padding: 9px 15px;
                cursor: pointer;
                background-color: #707070;
                line-height: 27px;
                color: #fff;
                float: left;
                text-transform: uppercase;
                font-weight: bold;
                position: relative;
                z-index: 99;
                margin-right: 15px;
                border-radius: 3px;
                @include transition(all 300ms ease-in-out);
                &::before {
                    content: '\f1e0';
                    font: normal normal normal 14px/1 FontAwesome;
                    margin-right: 10px;
                    color: inherit;
                }
                &:hover {
                    background-color: $dark_grey;
                    @include transition(all 300ms ease-in-out);
                }
            }

            .ssbp-wrap {
                display: none;
                .ssbp-list {
                    position: relative;
                    border-radius: 3px;
                    li {
                        &:first-child{
                            border-bottom-left-radius: 3px;
                            border-top-left-radius: 3px;
                        }
                        &:last-child{
                            border-bottom-right-radius: 3px;
                            border-top-right-radius: 3px;
                        }
                    }
                    &::before {
                        content: '\f0d9';
                        font: normal normal normal 32px/1 FontAwesome;
                        color: #e1e1e1;
                        position: absolute;
                        left: -10px;
                        top: 15%;
                    }
                }

            }
        }
    }
    .slider{
        float: right;
        width: 49%;
        .flexslider{
            margin: 0 0 10px;
            &.portfolioslider{
                .flex-viewport{
                    height: 390px !important;
                    .slides{
                        li{
                            max-width: 558.8px !important;
                            min-height: 390px !important;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .portfoliocarousel{
            .flex-viewport{
                height: 110px !important;
                .slides{
                    width: 100% !important;
                    display: flex;
                    cursor: pointer;
                    li{
                        max-width: 130px !important;
                        min-height: 110px !important;
                        margin-right: 13px !important;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        overflow: hidden;
                        @include transition(all 300ms ease-in-out);
                        &:last-child {
                            margin-right: 0 !important;
                        }
                        &:hover{
                            @include opacity(0.3);
                            @include transition(all 300ms ease-in-out);
                            background-color: $color_dark;
                        }
                    }
                }
            }
        }
    }

    .related_section {
        padding: 140px 0 35px 0;
        .contact_skills{
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            .skills_item {
                position: relative;
                top: 0;
                float: none;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                min-height: 250px;
                @include transition(all 300ms ease-in-out);
                &:hover{
                    .mask {
                        @include opacity(1);
                        @include transition(all 300ms ease-in-out);
                    }
                }
                .mask {
                    @include transition(all 300ms ease-in-out);
                    @include opacity(0);
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.5);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .plus {
                        display: block;
                        font-size: 40px;
                        line-height: 70px;
                        text-align: center;
                        color: #c7c7c7;
                    }
                }
            }
        }
    }
}

/**********
***ABOUT***
****PAGE***
**********/

.about_page {
    .about_section {
        .photo_section {
            float: left;
            width: 45%;
            img {
                display: block;
                max-width: 100%;
            }
        }

        .content_section {
            float: right;
            width: 50%;
            margin-left: 5%;
            font-family: 'Roboto', sans-serif;
            margin-bottom: 25px;
            .page_title {
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 5px;
                text-transform: uppercase;
                margin-top: 5px;
            }

            .page_content {
                font-size: 14px;
                line-height: 28px;
                color: $color_grey;
                margin: 40px 0 35px 0;
            }
            .skills_data {
                margin-top: 40px;
                font-family: 'Roboto', sans-serif;
                .progress-title {
                    font-size: 16px;
                    font-weight: bold;
                    color: $dark_grey;
                    margin: 20px 0;
                }
                .progress {
                    height: 10px;
                    background: #ebebeb;
                    max-width: 100%;
                    padding: 0 2px;
                    .progress-bar {
                        position: relative;
                        top: 4px;
                        max-width: 100%;
                        width: 0;
                        height: 2px;
                        background-color: $color_grey;
                        &::after {
                            content: "\f111";
                            font: normal normal normal 4px/1 FontAwesome;
                            font-weight: 900;
                            color: #fff;
                            border: 3px solid $color_dark;
                            border-radius: 100%;
                            position: absolute;
                            top: -4px;
                            right: -1px;
                        }
                    }
                    .progress-value {
                        font-size: 12px;
                        font-family: 'Lato', sans-serif;
                        color: #fff;
                        padding: 5px 8px;
                        background: #041608;
                        position: absolute;
                        top: -39px;
                        right: -35px;
                    }
                    .progress-value:after {
                        content: "";
                        border: 5px solid transparent;
                        border-top: 5px solid #041608;
                        border-left: 5px solid #041608;
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                    }
                }
            }
        }
    }
    .person_section {
        &.skills_section {
            padding-bottom: 40px;
        }
        .skills_item {
            background-color: #fff;
            .person_item {
                padding: 35px;
                .item_title {
                    font-size: 24px;
                    letter-spacing: 1px;
                    margin: 0;
                }
                .item_position {
                    font-weight: bold;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }

    }
}

/**********
***LOAD****
****MORE***
***BUTTON**
**********/

.loadmore {
    text-align: center;
}

#true_loadmore {
    display: inline-block;
    background-color: #959595;
    border-radius: 2px;
    text-align: center;
    margin: 65px 0 40px 0;
    font-size: 13px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
    @include transition(all 300ms ease-in-out);
    &:hover {
        background-color: $dark_grey;
        @include transition(all 300ms ease-in-out);
    }
}

/**********
***BLOG****
****PAGE***
**********/

.blog_page {
    .blog_section{
        display: flex;
        flex-wrap: wrap;
        .blog_content {
            width: 67%;
            .grid{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                word-break: break-all;
                .grid-item {
                    float: left;
                    margin: 0 30px 30px 0;
                    width: 350px;
                    min-height: 420px;
                    &.grid-item--height2 { min-height: 250px; }
                    &.grid-item--height3 { min-height: 550px; }
                    &.item_blog {
                        position: relative;
                        background-color: #fff;
                        max-width: 350px;
                        a {
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            color: inherit;
                        }
                        &.grid-item--height3 {
                            @include transition(all 300ms ease-in-out);
                            .blog_category {
                                font-size: 13px;
                                line-height: 26px;
                                font-family: 'Lato', sans-serif;
                                position: absolute;
                                top: 1%;
                                right: 1%;
                                background-color: $color_category_green;
                                height: 25px;
                                padding: 0 30px;
                                border-radius: 2px;
                                text-transform: uppercase;
                                color: #fff;
                                @include opacity(0);
                                @include transition(all 300ms ease-in-out);
                            }
                            .big_post_image {
                                width: 100%;
                                max-height: 250px;
                            }
                            &:hover {
                                background-color: #f0f0f0;
                                .blog_category {
                                    @include opacity(1);
                                    @include transition(all 300ms ease-in-out);
                                }
                            }
                        }
                        &.blog-medium {
                            @include transition(all 300ms ease-in-out);
                            .post_info {
                                padding-top: 0;
                                .blog_category {
                                    display: inline-block;
                                    font-size: 13px;
                                    line-height: 26px;
                                    font-family: 'Lato', sans-serif;
                                    background-color: $color_dark;
                                    height: 25px;
                                    margin: 40px 0 30px 0;
                                    padding: 0 15px;
                                    border-radius: 2px;
                                    text-transform: uppercase;
                                    color: #fff;
                                }
                            }
                            &:hover {
                                background-color: #f0f0f0;
                                @include transition(all 300ms ease-in-out);
                            }

                        }
                        &.grid-item--height2 {
                            position: relative;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            overflow: hidden;
                            @include transition(all 300ms ease-in-out);
                            &:hover{
                                .mask {
                                    @include opacity(1);
                                    @include transition(all 300ms ease-in-out);
                                }
                            }
                            .mask {
                                @include transition(all 300ms ease-in-out);
                                @include opacity(0);
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(0,0,0,0.2);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .play {
                                    display: block;
                                    font-size: 20px;
                                    line-height: 55px;
                                    height: 55px;
                                    width: 55px;
                                    text-align: center;
                                    color: #c7c7c7;
                                    background-color: rgba(0,0,0,0.5);
                                    border-radius: 100%;
                                }
                            }
                        }

                        .post_info {
                            padding: 30px 45px 45px 45px;
                            font-family: 'Roboto', sans-serif;
                            .post_title {
                                color: #333;
                                font-size: 20px;
                                line-height: 30px;
                                font-weight: bold;
                            }
                            .post_author {
                                color: #ccc;
                                font-weight: bold;
                                font-size: 13px;
                                margin: 10px 0 35px;
                                &:before {
                                    content: '\f007';
                                    font: normal normal normal 13px/1 FontAwesome;
                                    margin-right: 5px;
                                    font-weight: 400;
                                }
                            }
                            .post_desc {
                                font-size: 14px;
                                color: $color_grey;
                                line-height: 24px;
                            }

                            .post_date {
                                @extend .post_author;
                                font-weight: 400;
                                color: $color_grey;
                                margin-top: 35px;
                                margin-bottom: 30px;
                                float: left;
                                &:before {
                                    content: '\f133';
                                }
                            }
                            .post_social {
                                color: #ccc;
                                float: right;
                                margin-top: 33px;
                                a{
                                    margin-left: 25px;
                                    @include transition(all 300ms ease-in-out);
                                    &:hover {
                                        @include transition(all 300ms ease-in-out);
                                        color: $color_grey;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**********
    ***BLOCK****
    **WIDGET***
    **********/

    .blog_widgets {
        width: 33%;
        word-break: break-all;
        fieldset{
            position: relative;
            input.searchinput{
                width: 100%;
                display: inline-block;
                box-sizing: border-box;
                height: 60px;
                border: none;
                padding: 0 60px 0 25px;
                font-size: 16px;
                font-style: italic;
                color: #b7b7b7;
                outline: 0;
                @include transition(all 300ms ease-in-out);
                &:focus{
                    @include transition(all 300ms ease-in-out);
                    background-color: #f0f0f0;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: 16px;
                    font-style: italic;
                    color: #b7b7b7;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    font-size: 16px;
                    font-style: italic;
                    color: #b7b7b7;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    font-size: 16px;
                    font-style: italic;
                    color: #b7b7b7;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    font-size: 16px;
                    font-style: italic;
                    color: #b7b7b7;
                }
            }
            input.headerfont {
                font-family: "FontAwesome";
                position: absolute;
                right: 3%;
                top: 21%;
                font-size: 16px;
                background-color: #999;
                border-radius: 3px;
                border: 0;
                padding: 10px;
                color: #fff;
                @include transition(all 300ms ease-in-out);
                &:hover {
                    background-color: $color_grey;
                    @include transition(all 300ms ease-in-out);
                }
            }
        }
        .widget_item {
            margin-top: 30px;
            font-family: 'Roboto', sans-serif;
            background-color: #fff;
            .widget_title{
                position: relative;
                background-color: #ebebeb;
                line-height: 40px;
                text-align: center;
                font-size: 18px;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-weight: 300;
                &::after {
                    content: '\f0d7';
                    font: normal normal normal 20px/1 FontAwesome;
                    position: absolute;
                    color: #ebebeb;
                    top: 80%;
                    left: 50%;
                }
            }
            .rpwe-block, .tagcloud {
                padding: 25px;
            }

            .tagcloud {
                color: $color_grey;
                padding-bottom: 15px;
                a{
                    display: inline-block;
                    color: inherit;
                    font-size: 13px !important;
                    text-decoration: none;
                    &.tag-cloud-link {
                        text-transform: lowercase;
                        line-height: 23px;
                        border: 1px solid #eeeeee;
                        border-radius: 2px;
                        padding: 2px 20px;
                        margin-right: 5px;
                        margin-bottom: 10px;
                        @include transition(all 300ms ease-in-out);
                        &:hover {
                            background-color: $color_dark;
                            color: #fff;
                            border-color: $color_dark;
                            @include transition(all 300ms ease-in-out);
                        }
                    }
                }
            }
            #sb_instagram {
                padding: 25px !important;
            }
        }
    }
}

/**********
SINGLE*****
***BLOG****
**********/

.blog_single_page {
    font-family: 'Roboto', sans-serif;
    .wrapper {
        max-width: 945px;
    }
    h2.post_title {
        word-wrap: break-word;
        letter-spacing: 5px;
        font-size: 30px;
        color: #333;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
    }
    .post_info {
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: $color_grey;
        margin-bottom: 25px;
        .post_author, .post_date, .post_like {
            display: inline-block;
            margin: 0 30px;
        }

        .post_like {
            cursor: pointer;
            &::before{
                content: '\f08a';
                font: normal normal normal 14px/1 FontAwesome;
                margin-right: 5px;
            }
            &:hover {
                &::before{
                    content: '\f004';
                }
            }
        }
    }
    .post_image {
        margin-bottom: 50px;
        img {
            display: block;
            max-width: 100%;
            margin: 0 auto;
        }
    }
    .post_content {
        margin-bottom: 85px;
        p, h5,h1,h2,h3,h4,h6 {
            margin: 0 65px;
        }
        h5,h1,h2,h3,h4,h6 {
            margin-bottom: 20px;
        }
        p {
            font-size: 14px;
            color: $color_grey;
            line-height: 32px;
        }

        pre,code p {
            margin: 0;
        }

        blockquote p {
            margin: 0;
        }
    }
    .comment_title {
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
    }
}




