@import "content";

@media (max-width: 980px) {

  #n2-ss-1-arrow-previous {
    left: 30px !important;
  }

  #n2-ss-1-arrow-next {
    right: 30px !important;
  }

  .toggle_menu {
    display: block;
  }

  .header_third {
    &.menu_section {
      display: none;
    }
  }

  .header_third {
    &.res_menu_section {
      width: 100%;
      .top_navigation {
        .headermenu {
          width: 100%;
          background-color: #f0f0f0;
          li {
            height: 100%;
            color: $color_grey;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            border-bottom: 1px solid #ebebeb;
            &.current-menu-item,&.current-page-item{
              color: $color_dark;
            }
            &:last-child {
              border-bottom: 0;
            }
            a {
              padding: 15px 0;
              color: inherit;
              display: block;
              height: 100%;
              text-decoration: none;
              @include transition(all 300ms ease-in-out);
              &:hover {
                color: $color_dark;
                background-color: #ebebeb;
                @include transition(all 300ms ease-in-out);
              }
            }
          }
        }
      }
      .search_box{
        #searchform fieldset {
          background-color: #ebebeb;
        }
        #searchsubmit {
          display: none;
        }

        input.searchinput {
          padding: 0 25px;
          font-size: 16px;
          height: 48px;
          font-style: italic;
          border: 1px solid #e1e1e1;
          background-color: rgba(255,255,255,0);
          width: 100%;
          outline: 0;
          @include transition(all 300ms ease-in-out);
          &:focus{
            @include transition(all 300ms ease-in-out);
            border: 1px solid #afafaf;
          }
        }
      }
    }
  }

  .about_page {
    .about_section {
      .content_section {
        .skills_data {
          .progress {
            .progress-value{
              margin-right: 35px;
              &::after {
                @include rotate(90deg);
                left: 29px;
              }
            }
          }
        }
      }
    }
  }

  .skills_section {
    .contact_values{
      max-width: 90%;
    }
  }
}

@media (max-width: 767px) {
  .inner_header {
    .header_image{
      .header_text {
        .main_title{
          font-size: 32px;
          line-height: 64px;
        }
        .main_subtitle {
          margin-top: 20px;
        }
      }
    }
  }

  .about_page{
    .about_section {
      .photo_section {
        display: block;
        text-align: center;
        float: none;
        margin: 0 auto;
      }
      .content_section {
        margin-top: 50px;
        display: inline-block;
        float: none;
        text-align: center;
        width: 100%;
        margin-left: 0;
      }
    }
    .skills_section {
      .contact_values{
        max-width: 90%;
      }
      .skills_item {
        .person_item {
          .item_title{
            font-size: 18px;
          }
          .item_position{
            font-size: 14px;
          }
          .item_desc{
            font-size: 13px;
            line-height: 26px;
          }
        }
      }
    }
  }
  .single_portfolio {
    .slider , .currentpost_info{
      float: none;
      width: 100%;
      .flexslider.portfolioslider {
        .flex-viewport {
          height: 462px !important;
          .slides li{
            max-width: 737px !important;
            min-height: 462px !important;
          }
        }
      }
      .portfoliocarousel {
        .flex-viewport {
          .slides li{
            max-width: 175px !important;
          }
        }
      }
    }
    .currentpost_info {
      text-align: center;
      margin-top: 100px;
    }
    .skills_section {
      .contact_values{
        max-width: 90%;
      }
    }
    .related_section {
      .contact_skills {
        .skills_item{
          min-height: 160px;
        }
      }
    }
  }

  .blog_page {
    .blog_section {
      .blog_content{
        width: 58%;
      }
    }
    .blog_widgets{
      width: 42%;
    }
  }
  .contact_page {
    .container .fx{
      display: block;
      .contacts {
        text-align: center;
        display: block;
        width: 100%;
        .line {
          margin: 0 auto;
        }
      }
      .contacts_form {
        display: inline-block;
        width: 100%;
        margin-left: 0;
      }
    }
  }

  div#n2-ss-1 {
    .n2-ss-layer {
      .n2-font-76d92ba30805a01560aa5d67760a8dda-hover{
        font-size: 353.5% !important;
      }
      .n2-font-fb109586c8e16b99ce1476505218c9de-hover {
        font-size: 220.25% !important;
      }
    }
  }

  .portfolio_page {
    .container {
      .gallery_page {
        .portfolio_posts_page {
          .grid {
            .grid-item{
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .n2-ss-control-bullet {
    bottom: 15px !important;
  }

  div#n2-ss-1 {
    .n2-ss-layer {
      .n2-font-76d92ba30805a01560aa5d67760a8dda-hover{
        font-size: 265.5% !important;
      }
      .n2-font-fb109586c8e16b99ce1476505218c9de-hover {
        font-size: 186.25% !important;
      }
    }
  }

  .about_page{
    .skills_section {
      .contact_values{
        max-width: 90%;
      }
      .skills_item {
        .person_item {
          .item_title{
            font-size: 16px;
            text-align: center;
            margin-bottom: 10px;
          }
          .item_position{
            font-size: 13px;
          }
          .item_desc{
            font-size: 12px;
            line-height: 24px;
          }
        }
      }
    }
  }

  .blog_page {
    .blog_section {
      display: block;
      .blog_content{
        width: 100%;
      }
    }
    .blog_widgets{
      width: 80%;
      margin: 0 auto;
    }
  }

  .skills_section {
    .contact_skills {
      .skills_item {
        h3.item_title{
          font-size: 16px;
          margin-bottom: 20px;
        }
        .item_desc {
          font-size: 13px;
        }
      }
    }
  }

  .single_portfolio {
    .single_menu {
      height: 100%;
      text-align: center;
      .pagination {
        border: 0;
        display: block;
        .arrows{
          display: block;
          &.left_arrow {
            float: left;
            width: 49%;
            a{
              padding: 0;
            }
          }
          &.right_arrow{
            float: right;
            width: 49%;
            a{
              padding: 0;
            }
          }
        }
      }
      .all_posts_button {
        width: 100%;
        border: 0;
        border-top: 1px solid #ebebeb;
      }
    }
  }

}

@media (max-width: 480px) {
  div#n2-ss-1 {
    .n2-ss-layer {
      .n2-font-76d92ba30805a01560aa5d67760a8dda-hover {
        font-size: 220.5% !important;
      }
      .n2-font-fb109586c8e16b99ce1476505218c9de-hover {
        font-size: 120.25% !important;
      }
    }
  }

  footer.main_footer {
    .footer_social a {
      margin-left: 30px;
    }
  }

  .about_page {
    .about_section {
      .photo_section{
        width: 100%;
      }
    }
  }

  .skills_section {
    .contact_skills {
      .skills_item{
        float: none;
        width: 76%;
        margin: 0 auto;
        margin-bottom: 20px;
        .person_item {
          .item_title{
            font-size: 22px;
            text-align: left;
          }
        }
        &:last-child{
          margin: 0 auto;
        }
      }
    }
  }

  .inner_header {
    .header_image {
      .header_text {
        text-align: center;
      }
    }
  }

  .single_portfolio {
    .slider, .currentpost_info {
      .flexslider.portfolioslider {
        .flex-viewport {
          height: 380px !important;
          .slides li {
            min-height: 380px !important;
          }
        }
      }
      .portfoliocarousel {
        .flex-viewport {
          height: 90px !important;
          .slides li {
            min-height: 90px !important;
          }
        }
      }
    }
  }

  .single_portfolio {
    .related_section {
      .contact_skills {
        .skills_item{
          margin: 0;
        }
      }
    }
  }

  .blog_page {
    .blog_section {
      .blog_content {
        .grid {
          .grid-item.item_blog{
            max-width: 100%;
            margin-right: 0;
            .post_info {
              .post_desc{
                font-size: 13px;
              }
              .post_date {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  .container {
    .wpcf7{
      margin: 0;
    }
  }
}

@media (max-width: 320px) {
  .n2-ss-control-bullet {
    bottom: 5px !important;
  }

  div#n2-ss-1 {
    .n2-ss-layer {
      .n2-font-76d92ba30805a01560aa5d67760a8dda-hover{
        font-size: 200.5% !important;
      }
      .n2-font-fb109586c8e16b99ce1476505218c9de-hover {
        font-size: 100.25% !important;
      }
    }
  }

  .portfolio_page {
    .container {
      .gallery_page {
        .portfolio_posts_page {
          .grid {
            .grid-item{
              width: 320px;
              height: 320px;
            }
          }
        }
      }
    }
  }

  .single_portfolio {
    .slider, .currentpost_info {
      .flexslider.portfolioslider {
        .flex-viewport {
          height: 215px !important;
          .slides li {
            min-height: 215px !important;
          }
        }
      }
      .portfoliocarousel {
        .flex-viewport {
          height: 60px !important;
          .slides li {
            min-height: 60px !important;
          }
        }
      }
    }
  }

  .inner_header {
    .header_image {
      .header_text {
        .main_title{
          font-size: 18px;
          line-height: 34px;
        }
        .main_subtitle {
          font-size: 14px;
        }
      }
    }
  }

  .blog_single_page {
    .post_content p {
      margin: 0 10px;
    }
  }

  .single_portfolio {
    .related_section {
      .contact_skills {
        .skills_item{
          min-height: 100px;
        }
      }
    }
    .currentpost_info {
      .post_title{
        font-size: 24px;
      }
    }
  }
}